<html layout:decorate="~{layout}">
  <div layout:fragment="content">
    <header
      class="site-header section-padding d-flex justify-content-center align-items-center"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-12 mb-3">
            <h1>
              <span class="d-block text-primary">Choose your</span>
              <span class="d-block text-dark">favorite stuffs</span>
            </h1>
          </div>
        </div>
      </div>
    </header>
    <section class="products section-padding">
      <div class="container">
        <div class="row my-4">
          <div class="col-lg-12 col-12">
            <div class="custom-block bg-white">
              <h5 class="mb-4">Account Activities</h5>
              <div class="table-responsive">
                <table class="account-table table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Category</th>
                      <th scope="col">Image</th>
                      <th scope="col">Product Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Rating</th>
                      <th scope="col">Stock</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr th:each="product : ${productList}">
                      <td scope="row" th:text="${product.productId}"></td>
                      <td scope="row" th:text="${product.productCategory}"></td>
                      <td scope="row" th:text="${product.productImage}"></td>
                      <td scope="row" th:text="${product.productName}"></td>
                      <td
                        class="text-danger"
                        scope="row"
                        th:text="${product.productPrice}"
                      ></td>
                      <td scope="row" th:text="${product.productRating}"></td>
                      <td scope="row" th:text="${product.productStock}">
                        <span class="badge text-bg-danger"> Pending </span>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">July 2, 2023</td>
                      <td scope="row">10:42 AM</td>
                      <td scope="row">Food Delivery</td>
                      <td scope="row">Mobile Reload</td>
                      <td class="text-success" scope="row">
                        <span class="me-1">+</span>
                        $250
                      </td>
                      <td scope="row">$5,600.00</td>
                      <td scope="row">
                        <span class="badge text-bg-success"> Success </span>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">June 28, 2023</td>
                      <td scope="row">8:20 PM</td>
                      <td scope="row">Billing</td>
                      <td scope="row">Goverment</td>
                      <td class="text-success" scope="row">
                        <span class="me-2">+</span>$50
                      </td>
                      <td scope="row">$5,350.00</td>
                      <td scope="row">
                        <span class="badge text-bg-success"> Success </span>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">June 24, 2023</td>
                      <td scope="row">10:48 PM</td>
                      <td scope="row">Shopee</td>
                      <td scope="row">QR Code</td>
                      <td class="text-danger" scope="row">
                        <span class="me-2">-</span>$380
                      </td>
                      <td scope="row">$5,300.00</td>
                      <td scope="row">
                        <span class="badge text-bg-dark"> Cancelled </span>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">June 12, 2023</td>
                      <td scope="row">12:30 AM</td>
                      <td scope="row">Food Delivery</td>
                      <td scope="row">Mobile Reload</td>
                      <td class="text-success" scope="row">
                        <span class="me-2">+</span>$250
                      </td>
                      <td scope="row">$4,920.00</td>
                      <td scope="row">
                        <span class="badge text-bg-success"> Success </span>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">May 31, 2023</td>
                      <td scope="row">2:40 PM</td>
                      <td scope="row">Food Delivery</td>
                      <td scope="row">Mobile Reload</td>
                      <td class="text-success" scope="row">
                        <span class="me-2">+</span>$50
                      </td>
                      <td scope="row">$4,920.00</td>
                      <td scope="row">
                        <span class="badge text-bg-success"> Success </span>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">May 22, 2023</td>
                      <td scope="row">8:50 AM</td>
                      <td scope="row">Food Delivery</td>
                      <td scope="row">Mobile Reload</td>
                      <td class="text-success" scope="row">
                        <span class="me-2">+</span>$50
                      </td>
                      <td scope="row">$4,920.00</td>
                      <td scope="row">
                        <span class="badge text-bg-success"> Success </span>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">May 20, 2023</td>
                      <td scope="row">6:45 PM</td>
                      <td scope="row">Food Delivery</td>
                      <td scope="row">Mobile Reload</td>
                      <td class="text-danger" scope="row">
                        <span class="me-2">-</span>$500
                      </td>
                      <td scope="row">$4,920.00</td>
                      <td scope="row">
                        <span class="badge text-bg-danger"> Pending </span>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">April 28, 2023</td>
                      <td scope="row">11:20 AM</td>
                      <td scope="row">Food Delivery</td>
                      <td scope="row">Mobile Reload</td>
                      <td class="text-success" scope="row">
                        <span class="me-2">+</span>$856
                      </td>
                      <td scope="row">$4,920.00</td>
                      <td scope="row">
                        <span class="badge text-bg-success"> Success </span>
                      </td>
                    </tr>
                    <tr>
                      <td scope="row">April 16, 2023</td>
                      <td scope="row">11:00 PM</td>
                      <td scope="row">Food Delivery</td>
                      <td scope="row">Mobile Reload</td>
                      <td class="text-success" scope="row">
                        <span class="me-2">+</span>$50
                      </td>
                      <td scope="row">$4,920.00</td>
                      <td scope="row">
                        <span class="badge text-bg-danger"> Pending </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center mb-0">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">Prev</span>
                    </a>
                  </li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#">4</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</html>
